html
  head
    title Resource Finder
    link(rel='stylesheet'      href='/stylesheets/bootstrap.min.css'    )
    link(rel='stylesheet'      href='/stylesheets/metisMenu.min.css'    )
    link(rel='stylesheet'      href='/stylesheets/timeline.css'         )
    link(rel='stylesheet'      href='/stylesheets/dataTables/dataTables.bootstrap.css')
    link(rel='stylesheet'      href='/stylesheets/dataTables/dataTables.responsive.css'         )
    link(rel='stylesheet'      href='/stylesheets/startmin.css'         )
    link(rel='stylesheet'      href='/stylesheets/font-awesome.min.css' )
    link(href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css' rel='stylesheet')
    link(rel='shortcut icon'   href='/images/foldericon.png' type='image/x-icon' )
    link(rel='stylesheet'      href='/stylesheets/comment.css' )


  body
    block content 