html
  head
    title Resource Finder
    link(rel='stylesheet' href='/stylesheets/homepage.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet')
    link(rel='shortcut icon'   href='/images/foldericon.png' type='image/x-icon' )

  body
    block content