html
  head
    title= title
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='/fonts/material-icon/css/material-design-iconic-font.min.css')
    link(rel='stylesheet' href='/stylesheets/homepage.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon'   href='/images/foldericon.png' type='image/x-icon' )
    
  body
    block content