extends dashboardLayout
block content



  title ResourceFinder - All Kinds Of Resources 

  #wrapper
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .navbar-header
        a.navbar-brand(href='http://localhost:8002/dashboard/'+userid) Resource Finder
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      ul.nav.navbar-right.navbar-top-links
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown' href='#')
            i.fa.fa-user.fa-fw
            =username
            b.caret
          ul.dropdown-menu.dropdown-user
            li
              a(href='#')
                i.fa.fa-user.fa-fw
                |  User Profile
            li.divider
            li
              a(href='http://localhost:8002/users/logout')
                i.fa.fa-sign-out.fa-fw
                |  Logout
      .navbar-default.sidebar(role='navigation')
        .sidebar-nav.navbar-collapse
          ul#side-menu.nav
            li.sidebar-search
              .input-group.custom-search-form
                input.form-control(type='text' placeholder='Search...')
                span.input-group-btn
                  button.btn.btn-primary(type='button')
                    i.fa.fa-search
  
            li
              a(href='http://localhost:8002/dashboard/'+userid)
                i.fa.fa-dashboard.fa-fw
                |  Dashboard
            li
              a(href='http://localhost:8002/dashboard/stats?token='+token)
                i.fa.fa-table.fa-fw
                |  System Stats
            li
              a(href='http://localhost:8002/dashboard/registerResource' style='pointer-events: none')
                i.fa.fa-edit.fa-fw
                |  Upload Resources
    #page-wrapper
      .container-fluid
        .row
          .col-lg-12
            h1.page-header Register Resources
  
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading
                b Register Form
              .panel-body
                .row
                  .col-lg-6
                    form(role='form' action='/dashboard/' method='POST' enctype='multipart/form-data' )
                      .form-group
                        label Title:
                        input.form-control(placeholder='Insert your title ...' name='title' required='')
                      .form-group
                        label Subtitle:
                        input.form-control(placeholder='Insert your subtitle ...'  name='subtitle' required='')
                      .form-group
                        label Type:
                        select#type.form-control(name='type' required='')
                          option(selected='') Choose...
                          each c in categories
                            option=c.name
                        br  
                        button#add-option.btn.btn-outline.btn-primary(type='button') Add New Type
                      .form-group
                        label(style='padding-right:5px') Creation Date:
                        input(type='date' name='creationdate'  required='')
                      .form-group
                        label(style='padding-right:5px') Visibility:
                        label.radio-inline
                          input#optionsRadiosInline1(type='radio' name='visibility' value='public' checked='')
                          |  On
                        label.radio-inline
                          input#optionsRadiosInline2(type='radio' name='visibility' value='private')
                          | Off
                      .form-group
                        label File input
                        input(type='file' accept='.zip' name='zippedfile' required='')
                      .form-group
                        label Description: 
                        textarea.form-control(rows='3' maxlength='34' name='description' required='')
                      button.btn.btn-outline.btn-success(type='submit') Submit 
                      button.btn.btn-outline.btn-danger(type='reset') Reset
  
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/metisMenu.min.js')
  script(src='/javascripts/startmin.js')
  script(src='/javascripts/add-type.js')

  